<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irprogram.tirbargh" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="آسپک"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="آسپک" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ads"
            android:label="@string/title_activity_ads" >
        </activity>
        <activity
            android:name=".show_full_ads"
            android:label="@string/title_activity_show_full_ads" >
        </activity>
        <activity
            android:name=".insert_ads"
            android:label="@string/title_activity_insert_ads" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <service android:name=".NotificationService" />
    </application>

</manifest>
